In [102]:
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [103]:
df = pd.read_csv("F:\\3month_kerla.csv")

In [104]:
df

    SUBDIVISION  YEAR    MAY     JUN     JUL  RAINFALL FLOODS
0        KERALA  1901  174.7   824.6   743.0    1742.3    YES
1        KERALA  1902  134.5   390.9  1205.0    1730.4    YES
2        KERALA  1903  249.7   558.6  1022.5    1830.8    YES
3        KERALA  1904  235.7  1098.2   725.5    2059.4    YES
4        KERALA  1905  263.3   850.2   520.5    1634.0     NO
..          ...   ...    ...     ...     ...       ...    ...
113      KERALA  2014  251.0   454.4   677.8    1383.2    YES
114      KERALA  2015  201.8   563.6   406.0    1171.4     NO
115      KERALA  2016  186.4   522.2   412.3    1120.9     NO
116     KERALA   2017  173.5   498.5   319.6     991.6     NO
117      KERALA  2018  183.8   625.4  1048.5    1857.7    YES

[118 rows x 7 columns]

In [105]:
df=df.drop('SUBDIVISION', axis=1)

In [106]:
df

     YEAR    MAY     JUN     JUL  RAINFALL FLOODS
0    1901  174.7   824.6   743.0    1742.3    YES
1    1902  134.5   390.9  1205.0    1730.4    YES
2    1903  249.7   558.6  1022.5    1830.8    YES
3    1904  235.7  1098.2   725.5    2059.4    YES
4    1905  263.3   850.2   520.5    1634.0     NO
..    ...    ...     ...     ...       ...    ...
113  2014  251.0   454.4   677.8    1383.2    YES
114  2015  201.8   563.6   406.0    1171.4     NO
115  2016  186.4   522.2   412.3    1120.9     NO
116  2017  173.5   498.5   319.6     991.6     NO
117  2018  183.8   625.4  1048.5    1857.7    YES

[118 rows x 6 columns]

In [107]:
df.shape

(118, 6)

In [108]:
df.head(5)

   YEAR    MAY     JUN     JUL  RAINFALL FLOODS
0  1901  174.7   824.6   743.0    1742.3    YES
1  1902  134.5   390.9  1205.0    1730.4    YES
2  1903  249.7   558.6  1022.5    1830.8    YES
3  1904  235.7  1098.2   725.5    2059.4    YES
4  1905  263.3   850.2   520.5    1634.0     NO

In [109]:
df['FLOOD'] = df['FLOODS'].replace({'YES': 1, 'NO': 0})

In [110]:
df

     YEAR    MAY     JUN     JUL  RAINFALL FLOODS  FLOOD
0    1901  174.7   824.6   743.0    1742.3    YES      1
1    1902  134.5   390.9  1205.0    1730.4    YES      1
2    1903  249.7   558.6  1022.5    1830.8    YES      1
3    1904  235.7  1098.2   725.5    2059.4    YES      1
4    1905  263.3   850.2   520.5    1634.0     NO      0
..    ...    ...     ...     ...       ...    ...    ...
113  2014  251.0   454.4   677.8    1383.2    YES      1
114  2015  201.8   563.6   406.0    1171.4     NO      0
115  2016  186.4   522.2   412.3    1120.9     NO      0
116  2017  173.5   498.5   319.6     991.6     NO      0
117  2018  183.8   625.4  1048.5    1857.7    YES      1

[118 rows x 7 columns]

In [111]:
df=df.drop('FLOODS', axis=1)

In [112]:
df

     YEAR    MAY     JUN     JUL  RAINFALL  FLOOD
0    1901  174.7   824.6   743.0    1742.3      1
1    1902  134.5   390.9  1205.0    1730.4      1
2    1903  249.7   558.6  1022.5    1830.8      1
3    1904  235.7  1098.2   725.5    2059.4      1
4    1905  263.3   850.2   520.5    1634.0      0
..    ...    ...     ...     ...       ...    ...
113  2014  251.0   454.4   677.8    1383.2      1
114  2015  201.8   563.6   406.0    1171.4      0
115  2016  186.4   522.2   412.3    1120.9      0
116  2017  173.5   498.5   319.6     991.6      0
117  2018  183.8   625.4  1048.5    1857.7      1

[118 rows x 6 columns]

In [113]:
x = df.iloc[:, :-1].values

In [114]:
y = df.iloc[:, -1].values

In [115]:
x

array([[1901. ,  174.7,  824.6,  743. , 1742.3],
       [1902. ,  134.5,  390.9, 1205. , 1730.4],
       [1903. ,  249.7,  558.6, 1022.5, 1830.8],
       [1904. ,  235.7, 1098.2,  725.5, 2059.4],
       [1905. ,  263.3,  850.2,  520.5, 1634. ],
       [1906. ,  160.8,  414.9,  954.2, 1529.9],
       [1907. ,  101.4,  770.9,  760.4, 1632.7],
       [1908. ,  142.6,  592.6,  902.2, 1637.4],
       [1909. ,  473.2,  704.7,  782.3, 1960.2],
       [1910. ,  148.8,  680. ,  484.1, 1312.9],
       [1911. ,  180.6,  990. ,  705.3, 1875.9],
       [1912. ,  217.3,  948.2,  833.6, 1999.1],
       [1913. ,  198.8,  541.7,  763.2, 1503.7],
       [1914. ,  164.2,  565.3,  857.7, 1587.2],
       [1915. ,  154.5,  696.1,  775.6, 1626.2],
       [1916. ,  199. ,  920.2,  513.9, 1633.1],
       [1917. ,  122.9,  703.7,  342.7, 1169.3],
       [1918. ,  683. ,  464.3,  167.5, 1314.8],
       [1919. ,  247. ,  636.8,  648. , 1531.8],
       [1920. ,   87.7,  964.3,  940.8, 1992.8],
       [1921. ,  104.1,  489.1,  639.8, 1233. ],
       [1922. ,  293.6,  663.1, 1025.1, 1981.8],
       [1923. ,   80. ,  722.5, 1008.7, 1811.2],
       [1924. ,  185.4, 1011.7, 1526.5, 2723.6],
       [1925. ,  258.2,  688.8,  593.5, 1540.5],
       [1926. ,  222.6,  563.9,  885.2, 1671.7],
       [1927. ,  265.4,  720.2,  888.2, 1873.8],
       [1928. ,   81.9,  590.7,  420.6, 1093.2],
       [1929. ,  148. ,  946.6,  844. , 1938.6],
       [1930. ,  404.9,  633.1,  401.7, 1439.7],
       [1931. ,  131.7,  541.7,  653.9, 1327.3],
       [1932. ,  646.5,  341. ,  716.4, 1703.9],
       [1933. ,  738.8,  859.3,  773.4, 2371.5],
       [1934. ,  106.7,  852.9,  415. , 1374.6],
       [1935. ,   56.6,  431.3,  687.3, 1175.2],
       [1936. ,  466.5,  620.8,  672.1, 1759.4],
       [1937. ,  137.1,  485.6,  970.5, 1593.2],
       [1938. ,  179.6,  681.6,  648.6, 1509.8],
       [1939. ,  105.1,  625.8,  749.6, 1480.5],
       [1940. ,  217.4,  606.4,  877.3, 1701.1],
       [1941. ,  417.5,  797.6,  517.9, 1733. ],
       [1942. ,  191.9,  813.6,  828.8, 1834.3],
       [1943. ,  478.4,  794.5,  831.6, 2104.5],
       [1944. ,  212.7,  498.9,  614.1, 1325.7],
       [1945. ,   53.4,  549.8,  704. , 1307.2],
       [1946. ,   83. ,  919. ,  671.7, 1673.7],
       [1947. ,   85.7,  556.1,  669.3, 1311.1],
       [1948. ,  212.3,  910.2,  619. , 1741.5],
       [1949. ,  440. ,  536.3,  758.7, 1735. ],
       [1950. ,  242. ,  638.3,  905.7, 1786. ],
       [1951. ,  148.5,  774.1,  544.6, 1467.2],
       [1952. ,  214.6,  576.7,  430. , 1221.3],
       [1953. ,   55.4,  340.5, 1027.6, 1423.5],
       [1954. ,  179.5,  798.3,  640.5, 1618.3],
       [1955. ,  544.2,  782.4,  392.8, 1719.4],
       [1956. ,  351.3,  755.4,  466.8, 1573.5],
       [1957. ,  381.2,  872. ,  835.3, 2088.5],
       [1958. ,  353.5,  713.3,  622.7, 1689.5],
       [1959. ,  347.2,  872.8, 1155.7, 2375.7],
       [1960. ,  540. ,  480.3,  750.9, 1771.2],
       [1961. ,  500.5, 1005.2, 1146.5, 2652.2],
       [1962. ,  472.4,  244.9,  951.1, 1668.4],
       [1963. ,  157.1,  393.3,  720.2, 1270.6],
       [1964. ,   94.8,  379.4,  754.2, 1228.4],
       [1965. ,  214.5,  597.7,  465.1, 1277.3],
       [1966. ,   95.2,  496.2,  601.9, 1193.3],
       [1967. ,  244.9,  541.7,  741.4, 1528. ],
       [1968. ,   90. ,  696.4, 1308.9, 2095.3],
       [1969. ,  227.4,  550.5,  818.8, 1596.7],
       [1970. ,  289.1,  535.3,  558.1, 1382.5],
       [1971. ,  317.5,  889.6,  648.6, 1855.7],
       [1972. ,  436. ,  401.8,  714.4, 1552.2],
       [1973. ,  119.9,  617. ,  583.5, 1320.4],
       [1974. ,  221.5,  266.9, 1004.2, 1492.6],
       [1975. ,  162.2,  864.4,  531.3, 1557.9],
       [1976. ,   75.8,  196.8,  641.5,  914.1],
       [1977. ,  306.4,  599.6,  753.3, 1659.3],
       [1978. ,  396.8,  758.1,  686.7, 1841.6],
       [1979. ,  127.7,  582.9,  662.2, 1372.8],
       [1980. ,  105.3,  745.9,  754. , 1605.2],
       [1981. ,  166.3,  912.4,  489.8, 1568.5],
       [1982. ,  148.2,  612.2,  511.5, 1271.9],
       [1983. ,   76. ,  322.8,  583.2,  982. ],
       [1984. ,   84.6,  842.6,  653.6, 1580.8],
       [1985. ,  254.2,  828.7,  388.9, 1471.8],
       [1986. ,  126.7,  597.9,  324.8, 1049.4],
       [1987. ,  108.3,  572.6,  221. ,  901.9],
       [1988. ,  157.2,  511.3,  502.8, 1171.3],
       [1989. ,  169.4,  657.5,  450.7, 1277.6],
       [1990. ,  488.5,  528.6,  635.4, 1652.5],
       [1991. ,  113.4, 1096.1,  905.5, 2115. ],
       [1992. ,  218.4,  819.3,  767.8, 1805.5],
       [1993. ,  159. ,  657.1,  776.1, 1592.2],
       [1994. ,  141.3,  845. ,  955.5, 1941.8],
       [1995. ,  355.6,  493.4,  702.5, 1551.5],
       [1996. ,   74.3,  572.4,  696. , 1342.7],
       [1997. ,  133.6,  544.2,  970.5, 1648.3],
       [1998. ,  151.6,  732.5,  641.4, 1525.5],
       [1999. ,  453.2,  607.3,  700.4, 1760.9],
       [2000. ,  124.5,  633.8,  343.2, 1101.5],
       [2001. ,  238.6,  715.3,  598.5, 1552.4],
       [2002. ,  330.8,  503.1,  318.7, 1152.6],
       [2003. ,   91. ,  566.7,  532. , 1189.7],
       [2004. ,  610.9,  673.4,  385.4, 1669.7],
       [2005. ,  134.8,  619.2,  832.7, 1586.7],
       [2006. ,  521.2,  482.4,  804. , 1807.6],
       [2007. ,  192.7,  705.9,  966.3, 1864.9],
       [2008. ,   81.2,  469.9,  505.1, 1056.2],
       [2009. ,  191.6,  438.2,  924.9, 1554.7],
       [2010. ,  190.6,  667.5,  629. , 1487.1],
       [2011. ,  124.2,  788.5,  536.8, 1449.5],
       [2012. ,   95.3,  430.3,  362.6,  888.2],
       [2013. ,  119.3, 1042.7,  830.2, 1992.2],
       [2014. ,  251. ,  454.4,  677.8, 1383.2],
       [2015. ,  201.8,  563.6,  406. , 1171.4],
       [2016. ,  186.4,  522.2,  412.3, 1120.9],
       [2017. ,  173.5,  498.5,  319.6,  991.6],
       [2018. ,  183.8,  625.4, 1048.5, 1857.7]])

In [116]:
y

array([1, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0,
       0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 0, 1], dtype=int64)

In [117]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [118]:
sc = StandardScaler()

In [119]:
x_train = sc.fit_transform(x_train)

In [120]:
x_test = sc.transform(x_test)

In [121]:
x_train

array([[-6.48164002e-01,  1.64153669e+00, -1.87643252e-01,
        -1.01009846e-01,  6.01525189e-01],
       [ 2.85142517e-01, -9.36778315e-01,  2.47192725e-01,
         2.88161080e+00,  1.69065604e+00],
       [ 1.30594652e+00, -9.29930200e-01, -4.98815558e-01,
        -7.57205124e-01, -1.24568483e+00],
       [-2.10676571e-01, -5.36163632e-01,  6.94107478e-01,
        -6.98189703e-01, -3.45911650e-01],
       [ 1.74343395e+00, -2.94425200e-01, -1.61184978e-01,
         1.66195877e+00,  9.20255652e-01],
       [ 1.07261989e+00,  8.82080824e-01, -9.20422398e-01,
         4.13765668e-02, -7.25751492e-02],
       [-1.49397304e+00, -8.58709812e-01,  6.75701723e-01,
         3.12566478e-01,  1.90709831e-01],
       [-6.18998174e-01, -6.14232135e-01, -9.65286427e-01,
         1.29662521e+00,  6.26340095e-02],
       [-2.69008229e-01,  1.46006166e+00, -6.73670236e-01,
         3.04604080e-01,  5.22409998e-01],
       [ 6.35132462e-01, -8.32002167e-01,  5.31906757e-01,
         2.82590391e-01,  1.01543120e-01],
       [ 3.43474175e-01,  4.26681228e-01, -6.79422035e-01,
        -6.34958894e-01, -6.20545121e-01],
       [-9.68988118e-01,  2.15074498e-01,  2.03479055e-01,
        -4.69153663e-01, -1.08241834e-01],
       [-3.27339886e-01, -9.66225206e-01, -5.59784623e-01,
        -1.14124384e-01, -8.52054328e-01],
       [-6.48474277e-02,  8.52633932e-01,  5.86548844e-01,
        -1.06258651e+00, -1.24178012e-03],
       [-1.28981223e+00, -4.28648239e-01, -5.06868076e-01,
         7.68296674e-01,  4.31794543e-02],
       [-7.93993146e-01, -6.51211951e-01, -6.42610524e-01,
        -1.86254343e-01, -7.99527029e-01],
       [-3.85671544e-01, -1.18741930e+00, -5.96020955e-01,
         4.84022121e-02, -8.64699789e-01],
       [-1.40647555e+00, -5.34109198e-01,  1.52863227e-01,
        -9.81557399e-01, -8.46217962e-01],
       [-1.23148058e+00, -1.90333864e-01,  1.53444526e+00,
        -8.41981244e-01,  1.92006802e-01],
       [ 1.21844904e+00, -7.00518374e-01, -1.12869870e-01,
        -1.64149969e+00, -1.53166679e+00],
       [ 1.16011738e+00, -5.14934478e-01,  4.54832655e-01,
        -2.44801388e-01, -1.56878222e-01],
       [ 1.18928321e+00,  1.55045677e+00, -2.65292533e-01,
         3.15406633e-02,  6.06388828e-01],
       [-9.40132564e-02,  2.17363517e+00,  7.41847407e-01,
        -1.40918501e+00,  4.71828154e-01],
       [-5.60666516e-01, -8.33371790e-01, -1.58884259e-01,
         2.61981831e-01, -3.02787386e-01],
       [-1.81510743e-01, -8.35032822e-02, -4.41297572e-01,
        -1.23494901e+00, -1.14322417e+00],
       [-1.23179085e-01, -3.23872091e-01,  8.33301005e-01,
        -2.49016775e-01,  1.44018899e-01],
       [-3.56505715e-01, -9.84715114e-01,  1.52754310e+00,
        -1.02883351e-01,  3.23649292e-01],
       [-5.31500687e-01, -6.43285623e-02, -2.70469152e-01,
         8.60098441e-01,  4.12491761e-01],
       [-2.39842400e-01,  1.04135048e-01, -8.69867759e-02,
         9.93117326e-01,  6.87773717e-01],
       [-1.46480721e+00, -5.76567506e-01, -3.49843973e-01,
         9.76724154e-01,  2.05949233e-01],
       [ 1.01428824e+00, -4.64258433e-01,  2.11470384e-02,
         3.86101566e-01,  5.93915836e-02],
       [-1.17314892e+00,  3.12415342e+00, -1.08779974e+00,
        -2.46443695e+00, -8.40057353e-01],
       [-9.10656461e-01,  2.64380920e-01,  3.84085532e-01,
         9.11151464e-01,  9.72458708e-01],
       [-1.08565143e+00, -8.40219904e-01, -9.45155132e-01,
        -2.52295410e-01, -1.10528779e+00],
       [ 4.60137489e-01, -3.62512940e-02, -2.22320479e+00,
         1.45446804e+00, -2.63554033e-01],
       [ 1.68510230e+00, -2.76620103e-01, -7.54770597e-01,
        -1.31785162e+00, -1.46876373e+00],
       [-1.05648560e+00,  4.57497742e-01,  5.56578302e-02,
         1.55235870e+00,  1.32264070e+00],
       [ 8.10127434e-01, -6.85452523e-01, -3.19359441e-01,
        -1.72768094e+00, -1.70059718e+00],
       [ 1.36427818e+00, -6.29982797e-01, -1.96846130e-01,
         6.51202585e-01,  4.15582414e-02],
       [ 1.97645031e-01, -8.41880936e-02, -3.20509800e-01,
        -1.07054891e+00, -9.61648323e-01],
       [-7.35661488e-01,  3.50627819e+00,  1.18416072e+00,
         3.73455405e-01,  2.58621406e+00],
       [ 8.68459092e-01, -4.76585039e-01, -8.17465202e-01,
        -8.93971020e-01, -1.30534546e+00],
       [ 7.51795777e-01, -9.73758131e-01,  1.08810568e+00,
        -1.87659472e-01,  2.24279287e-02],
       [-1.34814389e+00, -6.50133738e-02,  1.69549562e+00,
         6.55417972e-01,  1.37873467e+00],
       [-1.63980218e+00, -6.32037232e-01, -1.50998176e+00,
         2.39496777e+00,  5.07494839e-01],
       [-4.44003201e-01,  1.72302925e+00,  8.11444170e-01,
         6.46050445e-01,  1.72048636e+00],
       [ 9.55956578e-01, -7.76532442e-01,  2.54618664e+00,
         9.92180574e-01,  1.75453183e+00],
       [ 1.51010732e+00, -2.47858024e-01,  8.09657441e-02,
        -3.02880056e-01, -2.81387375e-01],
       [ 2.55976688e-01,  1.23994579e-01, -6.42610524e-01,
         2.23574970e-01, -1.48772157e-01],
       [-1.02731978e+00, -1.00525946e+00,  3.97314669e-01,
         1.47554497e+00,  7.69482849e-01],
       [-3.56815990e-02,  1.05739255e+00,  1.25720856e+00,
         6.63380370e-01,  1.66860754e+00],
       [ 1.53927315e+00, -7.02572808e-01,  7.76933379e-01,
        -7.34723058e-01, -4.03302588e-01],
       [ 5.18158872e-02,  2.14487309e+00, -9.95770960e-01,
         2.68070724e-01,  6.39785814e-01],
       [ 1.59760481e+00, -7.36128568e-01,  2.23904059e+00,
         6.39493176e-01,  1.35636193e+00],
       [-6.77329831e-01, -1.16550533e+00, -1.27760909e+00,
        -2.98166396e-02, -1.29270000e+00],
       [ 1.45177567e+00, -9.97041720e-01, -1.05558967e+00,
        -8.83198364e-01, -1.67854868e+00],
       [ 8.97624920e-01, -3.93038045e-01,  2.34477578e-02,
        -1.13799510e+00, -9.60675595e-01],
       [ 1.62677064e+00,  1.65768076e-01, -1.14474254e+00,
        -7.43123937e-02, -6.18275423e-01],
       [-1.14398309e+00,  1.38375619e-01, -9.56144738e-02,
        -2.13888548e-01, -1.36450939e-01],
       [ 1.24761487e+00,  8.08514592e-02,  3.55901719e-01,
        -4.45734846e-01, -6.96569660e-02],
       [ 8.39293263e-01, -8.11457824e-01, -4.64879946e-01,
        -2.21385560e+00, -2.17885499e+00],
       [ 4.89303318e-01, -4.42344468e-01,  1.21349489e+00,
        -7.60483758e-01, -5.18236237e-02],
       [ 9.85122407e-01, -5.74804481e-02,  9.54088776e-01,
         3.47226329e-01,  7.51001022e-01],
       [-1.43564138e+00,  1.68741906e+00,  2.94932653e-01,
         4.15140900e-01,  1.25260430e+00],
       [ 1.10178572e+00, -1.04429371e+00, -4.66030306e-01,
         1.09321035e-02, -7.49593671e-01],
       [ 5.47634976e-01,  5.45153604e-01, -3.09581383e-01,
         2.79311757e-01,  2.76958359e-01],
       [-1.52313886e+00, -4.51931827e-01, -1.37193859e+00,
         1.22027986e+00, -1.42611548e-01],
       [ 6.64298291e-01, -4.14267199e-01,  1.48958123e+00,
        -9.54859947e-01, -1.74539095e-02],
       [-1.26064641e+00, -4.95074947e-01,  2.45467185e-01,
         3.83759684e-01,  1.69634063e-01],
       [-1.20231475e+00, -7.11475357e-01,  2.89180855e-01,
        -1.64384157e+00, -1.31183032e+00],
       [-1.66896801e+00, -3.56743040e-01,  9.84573309e-01,
         2.31068992e-01,  5.46079707e-01],
       [-5.02334859e-01,  1.30597909e+00,  8.29274746e-01,
        -8.23246190e-01,  5.15925146e-01],
       [ 5.76800804e-01,  1.16422313e+00,  6.02078700e-01,
        -3.26268978e-02,  8.68052595e-01],
       [-1.55230469e+00,  2.49999881e-01,  1.13181935e+00,
        -8.11068405e-01,  1.94924985e-01],
       [-4.14837372e-01, -9.65146992e-02, -8.88787505e-01,
        -3.72668134e-01, -8.04714911e-01],
       [-9.39822290e-01, -2.87183684e-02, -5.14920594e-01,
         8.97100173e-01,  3.17164440e-01],
       [-1.52344914e-01, -1.17372307e+00, -1.79987241e+00,
         1.56406811e+00, -4.87605661e-01],
       [-1.61063635e+00,  1.56865527e-01, -5.45405127e-01,
         1.54018091e+00,  8.33034396e-01],
       [ 9.26790749e-01,  1.79219520e+00, -7.17959086e-01,
        -2.72903969e-01,  2.54909864e-01],
       [ 1.27678069e+00,  7.12247591e-01, -8.64629951e-01,
        -1.75625190e+00, -1.36597883e+00],
       [-5.89832345e-01, -3.23187280e-01,  1.62066105e-01,
        -2.11078290e-01, -2.07784308e-01],
       [ 6.93464119e-01, -5.38218067e-01, -2.37108720e-01,
        -8.53222277e-01, -9.79157422e-01],
       [ 1.56843898e+00, -9.00483309e-01, -1.28336089e+00,
        -1.55063467e+00, -2.22327623e+00],
       [-7.64827317e-01,  2.87419725e+00, -1.79699651e+00,
         1.06480881e-01,  4.21570553e-01],
       [ 8.09817159e-02,  1.87437257e+00,  2.02334814e+00,
         2.12096760e+00,  3.49636301e+00],
       [ 7.80961605e-01,  1.87682041e-01,  1.00815568e+00,
        -1.42745169e+00, -3.30996491e-01],
       [ 1.48094149e+00, -2.41009909e-01, -1.23792168e+00,
         1.08304559e+00, -6.21993865e-02],
       [ 3.72640003e-01,  6.21167672e-01,  1.35844022e+00,
        -2.11078290e-01,  9.13770800e-01],
       [ 6.05966633e-01, -6.78604408e-01, -4.05636420e-01,
        -1.47379106e-01, -6.51996652e-01],
       [ 3.14308346e-01,  4.15257990e-03, -5.91994696e-01,
         5.86098271e-01,  7.39825001e-02],
       [-1.11481726e+00, -9.52528977e-01,  1.78809958e+00,
         1.15751743e+00,  1.35830739e+00],
       [ 1.68479202e-01, -9.03907366e-01, -1.57612744e+00,
         2.83527144e-01, -1.12020295e+00],
       [ 1.39313373e-01, -4.77269850e-01, -1.49617744e+00,
         1.24279182e-01, -9.83372576e-01],
       [-1.58147052e+00,  6.09919280e-02,  2.55826541e+00,
         1.49103129e-01,  1.57425295e+00]])

In [122]:
model = LogisticRegression()
model.fit(x_train, y_train)

LogisticRegression()

# Read

Based on past data analysis, a notable trend has emerged, indicating a higher frequency of flooding incidents in the Kerala region during the month of August. To gain a better understanding of this trend, we have gathered data from the preceding three months: May, June, and July. The purpose of this data collection is to provide five key parameters, which are the YEAR, MAY, JUNE, JULY, and the cumulative RAINFALL for these three months. This comprehensive dataset will allow us to explore and analyze the factors contributing to flooding incidents in a more informed manner.

In [123]:
year = int(input("Enter the year: "))
may = float(input("Enter the rainfall for the month of MAY: "))
june = float(input("Enter the rainfall for the month of JUNE: "))
july = float(input("Enter the rainfall for the month of JULY: "))
total_rainfall = may + june + july

flood = [[year, may, june, july, total_rainfall]]

# Assuming you have defined 'model' and 'sc' elsewhere in your code
result = model.predict(sc.transform(flood))

print(f"The total rainfall is: {total_rainfall}")
print(result)

if result == 1:
    print("Flood will occur")
else:
    print("Flood won't occur")

Enter the year: 2018
Enter the rainfall for the month of MAY: 183.8
Enter the rainfall for the month of JUNE: 625.4
Enter the rainfall for the month of JULY: 1048.7
The total rainfall is: 1857.9
[1]
Flood will occur

In [124]:
y_pred = model.predict(x_test)

In [125]:
print(f"Accuracy of the model is : {accuracy_score(y_test, y_pred)*100}%")
print("Prediction is Done ")

Accuracy of the model is : 83.33333333333334%
Prediction is Done

In [ ]:
#2018	183.8	625.4	1048.5	1857.7	1